body{
    font-family: 'Indie Flower', cursive;
    margin: 0;
}
h1{
    font-size: 60px;
}
#Skip-color{
    color: mediumblue;
}
.flexible-section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(19, 71, 245), rgb(122, 184, 235));
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}
.distance-from-link-button{
    padding-bottom: 40px;
}
.skip-the-diet{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.text-in-center{
    text-align: center;
}
#bottom-padding{
    padding-bottom: 20px;
}
.recipe-item{
    width: 40%;
    margin-left: 5%; 
    margin-right: 5%;   
    box-shadow: 10px 10px 40px gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 70px;
}
.recipe-item img{
    width: 100%;
    border-radius: 70px;
}
.my-recipies{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 2px;
}
.social-section{
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between; 
  box-shadow: 10px 10px 40px gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 70px;
  margin-top: 100px;
}
.footer{
    text-align: center;
    color: white;
    margin-top: 100px;
    background-image: url(eat-healthy-main/images/my-edited/3rd.png);
    padding-bottom: 5px;
}
#Eat-color{
    color: rgb(111, 7, 230);
}